#top-header {
    text-align:center;
}

h1{
    text-align:center;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#to-login{
    background-color: red; 
    border: none;
    color: white;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display:flex;
    justify-content:space-between;
    flex-direction:row;
}

#sign-up{
    background-color: white; 
    border: none;
    color: red;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display:flex;
    justify-content:space-between;
}

#top-up{
    background-color: green; 
    border: none;
    color: white;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display:inline-block;
    margin-right:10px;
}

#withdraw{
    background-color: red; 
    border: none;
    color: white;
    padding: 20px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display:inline-block;
}